<%- include('header') -%>
    <div class="container">
        <div class="heading">
            <h3>Generat Your SuperHero Or SuperVillian Name</h3>
            <h1>CHOOSE YOUR SIDE</h1>
        </div>
        <div class="btns">
            <form action="/superHero" method="post">
                <button id="sh" type="submit">SuperHero</button>
            </form>
            <form action="/superVillian" method="post">
                <button id="sv" type="submit">SuperVillian</button>
            </form>
        </div>
    </div>
<%- include('footer') -%>